h1 {
  font: 4em Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

h2 {
  font: 3em Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

h3 {
  font: 2em Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  text-decoration: underline;
}

p {
  font: 1.5em Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

div {
  margin: 1em;
}